<html>

  <head>
    <title>XDSSPARK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body
    style="width:800px; margin:50px auto;font-family: Arial, Helvetica, sans-serif;"
  >
    <table
      style="border:1px solid #dddddd;width:100%;border-collapse: collapse;"
    >
      <tr><td
         style="text-align:center;background-image: url('{{websiteMailBgUrl}}'); background-size: cover;background-position: center;padding:10px"
        >
        <img src="{{websiteLogoUrl}}" alt="XDS-SPARK" width="150" />
        </td></tr>
      <tr>
        <td style="padding:0 20px">
          <p style="padding-top:10px">Hi {{firstName}},</p>
          <p>
            Thank you once again for becoming a Premium member of XDS Spark!
          </p>
          <p>
            We want your profile to shine for prospective Buyers looking at your company. Completing your company profile gives you the best shot of being contacted.
          </p>
          <p>In order to reach 100% status, please complete the following profile area(s).
          </p>
          <ul>
            <li>General Info</li>
            <li>About</li>
            <li>Our Work</li>
            <li>Services</li>
            <li>Due Diligence</li>
            <li>Contacts</li>
          </ul>
          <p>
            <b>Did you know?</b> Completing your profile increases your chances of appearing under the “What's New in Spark” section of the home page.
          </p>
          <p>If you require assistance, no problem! Contact our helpful team at <u><a href="mailto:info@xds-spark.com?subject=XDS Spark - Profile Assistance" >support@xds-spark.com</a></u>.</p>
          <p style="margin-top:20px">Cheers,</p>
          <p>Your friends at XDS Spark</p>
        </td>
      </tr>
    </table>
  </body>

</html>