<html>

  <head>
    <title>XDSSPARK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body
    style="width:800px; margin:50px auto;font-family: Arial, Helvetica, sans-serif;"
  >
    <table
      style="border:1px solid #dddddd;width:100%;border-collapse: collapse;"
    >
       <tr><td
         style="text-align:center;background-image: url('{{websiteMailBgUrl}}'); background-size: cover;background-position: center;padding:10px"
        >
        <img src="{{websiteLogoUrl}}" alt="XDS-SPARK" width="150" />
        </td></tr>
      <tr>
        <td style="padding:0 20px">
          <p style="padding-top:10px">Hi {{firstName}},</p>
          <p>
            We regret to inform you that there was an issue in processing your recent payment for your XDS Spark account.
          </p>
          <p>To avoid any further disruption, we kindly request that you attempt your payment again.</p>
          <p>You can do so by logging into your account and and selecting the Subscribe button. Alternatively, go back to the previous email you received with the subject line “XDS Spark - You are good to go!” and select ‘Click here’ to complete your sign-up process.</p>
          <p>If you have any questions or issues regarding your payment status, please contact <a href="mailto:billing@xds-spark.com">billing@xds-spark.com</a>.</p>
          <p>Please do not delay as we do not want this to impact your access to XDS Spark.</p>
          <p>Thanks,</p>
          <p>Your friends at XDS Spark</p>
        </td>
      </tr>
    </table>
  </body>

</html>